<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bc53cb6d0a.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="header-top">
            <div class="primeralinea">
                <div class="logoml">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
                </div>
                <div class="buscador">
                <form action=""><input type="search" placeholder="Buscar productos y más." class="search"></form>
                </div>
            </div>    
           <div class="cuotas">
            <p class="ctext"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
           </div> 
        </div>
       <div class="header-bottom">
        <nav class="left-nav">
            <ul>
                <li><a href="#">Ofertas</a></li> 
                <li> <a href="#">Tiendas Oficiales</a> </li>
                <li> <a href="#">Vender</a> </li>
                <li> <a href="#">Ayuda</a> </li>
            </ul>
        </nav>
        <nav class="right-nav">
            <ul>  
                <li class="logos"> <a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li class="logos"> <a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li> 
                <li class="logos"> <a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
       </div> 
       <a href="" class="burger-menu">
          <i class="fas fa-bars"></i>
       </a>
    </header>
    <img src="/images/img-home-banner.jpg" alt="Banner" class="headerbanner">
    <main>
        <h3>Basado en tu última visita</h3>
        <section>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <p class="camion"><i class="fa-solid fa-truck"></i></p>
                <div class="pyd">
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                </div>
                <div>
                    <p class="titulares">Cafeteria Moulinex</p>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Celular Samsung">
                <p class="camion"><i class="fa-solid fa-truck"></i></p>
                <div class="pyd">
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                </div>
                <div>
                    <p class="titulares">Samsung Galaxy S10</p>
                </div>
            </article>    
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Computadora MacBook">
                    <p class="camion"><i class="fa-solid fa-truck"></i></p>
                    <div class="pyd">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                    </div>
                    <div>
                        <p class="titulares">MacBook Pro 2019</p>
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="TV Smart">
                    <p class="camion"><i class="fa-solid fa-truck"></i></p>
                    <div class="pyd">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                    </div>
                    <div>
                        <p class="titulares">SmartTv Samsung 43"</p>
                    </div>
                </article>
        </section>
        <h3>Ofertas</h3>
            <section>
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <p class="camion"><i class="fa-solid fa-truck"></i></p>
                    <div class="pyd">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <div>
                        <p class="titulares">Cafeteria Moulinex</p>
                    </div>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Celular Samsung">
                    <p class="camion"><i class="fa-solid fa-truck"></i></p>
                    <div class="pyd">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                    </div>
                    <div>
                        <p class="titulares">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="Computadora MacBook">
                        <p class="camion"><i class="fa-solid fa-truck"></i></p>
                        <div class="pyd">
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% OFF</p>
                        </div>
                        <div>
                            <p class="titulares">MacBook Pro 2019</p>
                        </div>
                </article>
                <article>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="TV Smart">
                        <p class="camion"><i class="fa-solid fa-truck"></i></p>
                        <div class="pyd">
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% OFF</p>
                        </div>
                        <div>
                            <p class="titulares">SmartTv Samsung 43"</p>
                        </div>
                </article>
            </section>
    </main>
    <footer>
        <article>
            <div class="logodefooter">
                <i class="fa-solid fa-credit-card"></i>
            </div>    
            <h2>Pagá con tarjeta o en efectivo.</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <div class="logodefooter">
                <i class="fa-solid fa-gift"></i>
            </div>    
            <h2>Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <div class="logodefooter">
                <i class="fa-solid fa-user-shield"></i>
            </div>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
    </footer>
    <p class= "Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</body>
</html>