<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/login.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bc53cb6d0a.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <header>
        <div class="header-top">
            <div class="primeralinea">
                <div class="logoml">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
                </div>
                <div class="buscador">
                <form action=""><input type="search" placeholder="Buscar productos y más." class="search"></form>
                </div>
            </div>    
           <div class="cuotas">
            <p class="ctext"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
           </div> 
        </div>
       <div class="header-bottom">
        <nav class="left-nav">
            <ul>
                <li><a href="#">Ofertas</a></li> 
                <li> <a href="#">Tiendas Oficiales</a> </li>
                <li> <a href="#">Vender</a> </li>
                <li> <a href="#">Ayuda</a> </li>
            </ul>
        </nav>
        <nav class="right-nav">
            <ul>  
                <li class="logos"> <a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li class="logos"> <a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li> 
                <li class="logos"> <a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
       </div> 
       <a href="" class="burger-menu">
          <i class="fas fa-bars"></i>
       </a>
    </header>

    
</body>
</html>